#search-container {
    position: absolute;
    top: 4vh;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999999999999;
}

#search-input {
    color: black;
    font-size: 1em;
    background-color: white;
    width: 100%;
    padding: 10px;
    border-color: black;
    border: 1px solid #000000;
    border-radius: 10px;
}

#search-results {
    color: black;
    font-size: 1em;
    background-color: white;
    width: 100%;
    border-color: black;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
}

#search-result {
    padding: 10px;
}

#search-result[active] {
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
}
